flask==1.1.2
flask-smorest
flask-sqlalchemy==2.4.4
flask-jwt-extended==3.25.0
flask-marshmallow
flask-cors==3.0.9
flask-migrate
flask-mail
flask-shell-ipython
marshmallow-sqlalchemy
python-dotenv
click
celery==5.0.2
marshmallow
sqlalchemy-utils
sqlalchemy<1.4.0
