flask==3.0.3
flask-smorest
flask-sqlalchemy==2.4.4
flask-jwt-extended==3.25.0
flask-marshmallow
flask-cors==4.0.1
flask-migrate
flask-mail
flask-shell-ipython
marshmallow-sqlalchemy
python-dotenv
click
celery==5.4.0
marshmallow
sqlalchemy-utils
sqlalchemy==2.0.31
