flask
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-mail
flask-apispec
flask-marshmallow
flask-shell-ipython
marshmallow-sqlalchemy
apispec>=1.0.0,<4
python-dotenv
celery
redis
gunicorn
zemfrog
